@charset="utf-8"

section,
article,
aside,
footer,
header,
nav,
hgroup {
    display: block;
}

.header {
	background-color: #333;
	overflow: hidden;
}

.header section {
	width: 1200px;
	margin: 0 auto;

}

.header img{
	float: left;
	margin-top: 10px;
}

.header ul {
	float: right;
}

.header ul li {
	float: left;
	margin-left: 30px;
}
.header a {
	color: #fff;
}

