@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

@font-face {
	font-family: 'iconfont';
    src: url('../fonts/iconfont.eot'); /* IE9*/
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size: 16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    cursor: pointer;
}

#wrap {
	width: 100%;
	min-width: 1200px;
	height: 100%;
	min-height: auto !important;
	display: flex;
	justify-content: center;
	padding-top: 100px;
}

#table-grade {
	border-collapse: collapse;
	width: 600px;
	text-align: center;
	box-shadow: 2px 2px 1px #ccc;
}

#table-grade th,
#table-grade td {
	border: 1px solid #000;
}

#table-grade thead tr{
	background-color: #A7C942;
	height: 2.5em;
	color: #fff;
}

#table-grade thead th {
	position: relative;
}

#table-grade thead ul {
	list-style-type: none;
	position: absolute;
	top: -4px;
	right: 8px;
}

#table-grade tbody tr {
	height: 2em;
}
